.aside {
	position: fixed;
	top: 0;
	left: 0;
	background: #0a192f;
	border-right: 1px solid rgba(0, 0, 0, 0.5%);
	padding: 2.5rem;
	padding-bottom: 0;
	width: 110px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1000;
}

.nav_list {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

.nav_link {
	font-size: 1.5rem;
	color: var(--title-color);
	font-weight: var(--font-bold);
	transition: 0.3s;
}

.nav_link:hover {
	color: hsl(43, 100%, 68%);
}

.copyright {
	height: '500px';
	border-left: 1px solid red;
	/* font-size: var(--small-font-size);
	color: hsl(245, 15%, 65%);
	transform: rotate(-180deg);
	writing-mode: vertical-rl; */
}
