.content {
	position: relative;
	width: 350px;
	height: 350px;
}

.content .imgOverlay {
	background: #ff950069;
	position: absolute;
	border-radius: 5px;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 2;
	bottom: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
	opacity: 1;
}

.content:hover .imgOverlay {
	opacity: 0;
	cursor: zoom-in;
}

.content:hover .border {
	border-radius: 5px;
	position: relative;
	top: -335px;
	left: 14px;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
	border: 3px solid #f59816;
	width: 350px;
	height: 350px;
}
